* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141922;
  color: #FFF;
  font-family: 'Signika';
  font-size: 15px;
}

body a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

body a:hover {
  color: #FFF;
}

ul {
  list-style: none;
}

/* Utility CSS */
.flx {
  display: flex;
}

.al-center {
  align-items: center;
}

.oflw-auto {
  overflow: auto;
}

.hide-xs {
  display: none;
}
/* / Utility CSS */

/* Utility SPACES (margin/padding) */
.pdd-20 {
  padding: 20px;
}

.mrg-chld-btm15>* {
  margin-bottom: 15px;
}
/* / Utility CSS */

/* Utility TEXT PROPRIETIES */
.txt-l {
  font-size: 1.2em;
}

.txt-s {
  font-size: 0.9em;
}

.txt-xs {
  font-size: 0.8em;
}

.txt-bld {
  font-weight: bold;
}

.txt-uppcs {
  text-transform: uppercase;
}

.txt-col-wht {
  color: #FFF;
}

.txt-col-gr {
  color: rgba(255, 255, 255, 0.6);
}

.subtitl-txt {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
}
/* Utility TEXT PROPRIETIES */

.wrapper {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  line-height: 2.6em;
}

/* MAIN TOP SIDE */
.top-container {
  height: calc(100% - 90px);
}
/* Sidebar */
#sidebar {
  width: 60px;
  background-color: #000;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#sidebar .logo {
  width: 70%;
}

#sidebar .playlist ul {
  width: 100%;
  max-height: 200px;
}

#sidebar ul img {
  height: 22px;
  opacity: 0.5;
  vertical-align: middle;
}

#sidebar .fa-plus {
  background-color: #ccc;
  color: #000;
  padding: 8px;
  vertical-align: middle;
}

#sidebar>.bottom>*:not(:last-child) {
  margin-bottom: 15px;
}

#sidebar>.bottom>*:first-child {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
/* / Sidebar */

/* Contents */
#contents {
  width: calc(100% - 60px);
}

#contents>.top {
  position: fixed;
  z-index: 1;
  right: 0;
  width: calc(100% - 60px);
  height: 90px;
  background-color: rgba(0,0,0,.6);
  align-items: center;
  justify-content: flex-end;
}

#contents>.top>.upg-btn {
  border: 1px solid #FFF;
  border-radius: 30px;
  padding: 15px;
}

#contents>.top>.upg-btn:hover {
  transform: scale(1.1);
}

#contents .menu-row {
  margin-top: 90px;
  justify-content: center;
}

#contents .menu-row>li {
  margin: 0 15px;
  border-bottom: 2px solid transparent;
}

#contents .menu-row>li:after {
  display: block;
  content: '';
  width: 40%;
  height: 2px;
  background-color: #ADFF2F;
  margin: auto;
  visibility: hidden;
}

#contents .menu-row>li:hover:after {
  visibility: visible;
}

#contents>.bottom {
  height: calc(100% - 90px);
}

#contents .album-list {
  flex-wrap: wrap;
}

#contents .album-item {
  flex-basis: calc(100% / 2 - 20px);
  text-align: center;
  margin-right: 20px;
}

#contents .album-img {
  position: relative;
}

#contents .album-img>img {
  width: 100%;
}

#contents .album-img:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('../img/00-recent.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

#contents .album-item:hover .album-img:after {
  visibility: visible;
}

#artists .album-img {
  border-radius: 50%;
  overflow: hidden;
}

/* / Contents */
/* / MAIN TOP SIDE */


/* FIX BOTTOM SIDE */
.bottom-playnav {
  height: 90px;
  background-color: #282828;
}

.play-side {
  justify-content: space-between;
  width: 20%;
}

.play-side img {
  max-height: 50px;
}

.play-center {
  width: 60%;
}

.play-center .buttons {
  justify-content: center;
}

.play-center .buttons>li {
  margin: 0 15px;
  font-size: 17px;
}

.play-center .buttons .fa-play-circle-o {
  font-size: 2.2em;
}

.play-center .buttons .fa-play-circle-o:hover {
  transform: scale(1.15);
}

.play-center>.cursor {
  align-items: center;
}

.play-center .time {
  align-items: center;
  margin: 0 20px;
}

.play-center>.cursor>.line {
  background-color: #5A5A5A;
  flex-basis: 100%;
  height: 4px;
  position: relative;

}

.play-center .cursor .line:before,
.play-center .cursor .line:after {
  display: block;
  content: '';
  position: absolute;
  background-color: #FFF
}

.play-center .cursor .line:before {
  opacity: 0.4;
  width: 20%;
  height: 4px;
}

.play-center .cursor .line:after {
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.cursor:hover .line:before,
.cursor:hover .line:after {
  opacity: 1;
}
/* / FIX BOTTOM SIDE */

/* MEDIAQUERY */
@media (min-width: 576px) {
  .hide-xs {
    display: inline-block;
  }

  #sidebar {
    min-width: 230px;
  }

  #contents {
    flex-basis: calc(100% - 230px);
  }

  #contents>.top {
    width: calc(100% - 230px);
  }
  }

@media (min-width: 768px) {
  #contents .album-item {
    flex-basis: calc(100% / 4 - 20px);
  }
}

@media (min-width: 992px) {
  #contents .album-item {
    flex-basis: calc(100% / 6 - 20px);
  }
}
/* / MEDIAQUERY */
