* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility CSS */
.flx {
  display: flex;
}

.hide-xs {
  display: none;
}

.pdd-15 {
  padding :15px;
}

.circle {
  border-radius: 50%;
}

.txt-s {
  font-size: 0.9em;
}

.txt-uppcs {
  text-transform: uppercase;
}

.txt-col-wht {
  color: #FFF;
}

.txt-col-gr {
  color: #8C8C8C;
}

.oflw-hdd {
  overflow: hidden;
}

.oflw-auto {
  overflow: auto;
}
/* / Utility CSS */

/* Common CSS styles */
.menu-contents>li:after, .album-img:after, .play-cursor-point:after {
  display: block;
  content: '';
}

.album-img, .play-cursor-line {
  position: relative;
}

.album-img:after, .play-cursor-point, .play-cursor-point:after {
  position: absolute;
}
/* / Common CSS styles */

/* WRAPPER Container */
.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 500;
}

.wrapper a {
  color: #8C8C8C;
  text-decoration: none;
}

.wrapper a:hover {
  color: #FFF;
  transition: 0.5s;
}

.wrapper ul {
  list-style: none;
}
/* / WRAPPER Container */

/* MAIN TOP SIDE */
main {
  height: calc(100% - 90px);
  background: linear-gradient(#0C0E12, #2E3846) 50% no-repeat
}

/* Left Bar */
#left-bar {
  width: 60px;
  background-color: #000;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2.6em;
}

#left-bar img {
  height: 28px;
  margin-bottom: 10px;
}

.menu-nav-main img {
  vertical-align: middle;
  opacity: 0.5;
}

.menu-nav-main img:hover {
  opacity: 1;
}

.menu-nav-playlist {
  height: calc(100% - 110px);
}

.menu-nav-playlist .fa-plus {
  background-color: #CCC;
  color: #000;
  padding: 10px;
  margin-right: 10px;
}

.menu-nav-profile {
  height: 110px;
}

.menu-nav-profile .flx {
  align-items: center;
}

.menu-nav-profile .flx .fa {
  font-size: 28px;
  margin: 7px 10px 7px 0;
}

.menu-nav-profile>*:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
/* / Left Bar */

/* Right Bar */
#rigth-bar {
  width: calc(100% - 60px);
  line-height: 2em;
}

.fix-band {
  position: fixed;
  width: calc(100% - 60px);
  height: 90px;
  top: 0;
  right: 0;
  padding-right: 35px;
  background-color: rgba(0,0,0,.6);
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.fix-band>.upg-btn {
  border: 1px solid #FFF;
  border-radius: 30px;
}

.fix-band>.upg-btn:hover {
  transform: scale(1.1);
  background-color: rgba(255,255,255,.05);
  text-shadow: 2px 2px 5px #000;
}

.menu-contents {
  margin-top: 90px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-contents>li {
  margin: 0 15px;
}

.menu-contents>li:after {
  width: 40%;
  height: 2px;
  background-color: #ADFF2F;
  margin: auto;
  opacity: 0.5;
  transition: 0.3s
}

.menu-contents>li:not(:first-child):after {
  opacity: 0;
  width: 0;
}

.menu-contents>li:not(:first-child):hover:after {
  width: 40%;
  opacity: 1;
}

.section-contents>* {
  margin-bottom: 20px;
}

.section-contents .album-list {
  flex-wrap: wrap;
  margin-right: -15px;
}

.section-contents .album-item {
  flex-basis: calc(100% / 2 - 20px);
  text-align: center;
  margin-right: 15px;
  margin-bottom: 10px;
}

.section-contents .album-img {
  margin-bottom: 8px;
}

.album-img>img {
  width: 100%;
}

.album-img:after {
  width: 100%;
  height: 100%;
  background: url('../img/00-recent.png') no-repeat center;
  background-size: 40%;
  background-color: rgba(0, 0, 0, 0.85);
  visibility: hidden;
}

.album-item:hover .album-img:after {
  visibility: visible;
  animation: album-hover 0.3s 1;
}

@keyframes album-hover {
  from { top: -100%; }
  to   { top: 0; }
}
/* / Right Bar */
/* / MAIN TOP SIDE */

/* FIX BOTTOM SIDE */
footer {
  height: 90px;
  background-color: #282828;
  border-top: groove rgba(95, 95, 95, 0.4);
  justify-content: space-between;
}

/* Player Side left, right */
.player-side {
  width: 17%;
  align-items: center;
  justify-content: center;
}

.player-side>*:not(:last-child) {
  margin-right: 10px;
}
.play-sd-img {
  width: 90px;
  margin-right: 10px;
}

.play-sd-img>img {
  min-width: 25px;
  max-width: 100%;
}

.play-sd-icns {
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.play-sd-icns>* {
  margin: 5px;
}
/* / Player Side Left */

/* Player Side Center */
#player {
  width: 40%;
  margin: 0 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play-cntr-bttns {
  justify-content: center;
  align-items: center;
}

.play-cntr-bttns>li {
  margin: 0 12px;
  font-size: 14px;
}

.play-cntr-bttns .fa-play-circle-o {
  font-size: 2.2em;
}

.play-cntr-bttns .fa-play-circle-o:hover {
  transform: scale(1.15);
}

.play-cntr-cursor {
  align-items: center;
  width: 100%;
}
/* / Player Side Center */

/* player cursor */
.play-cursor-line {
  background-color: #5A5A5A;
  width: 100%;
  height: 4px;
  margin: 0 20px;
}

.play-cursor-point {
  width: 20%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.play-cursor-point:after {
  width: 15px;
  height: 15px;
  background-color: #FFF;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  visibility: hidden;
}

.play-cursor-line:hover .play-cursor-point {
  background-color: #ADFF2F;
}

.play-cursor-line:hover .play-cursor-point:after {
  visibility: visible;
}

.player-side .play-cursor-line {
  margin: 0;
}
/* / player cursor */
/* / FIX BOTTOM SIDE */

/* MEDIAQUERY */
@media (min-width: 576px) {
  .hide-xs {
    display: inline-block;
  }

  .visible-xs {
    display: none;
  }

  .wrapper {
    font-size: 13px;
  }

  #left-bar {
    width: 230px;
  }

  .nav-logo img {
    height: 38px;
  }

  .menu-nav-main img {
    margin-right: 10px;
    margin-bottom: 0;
  }

  #rigth-bar {
    width: calc(100% - 230px);
  }

  .fix-band {
  width: calc(100% - 230px);
  }

  .player-side {
    width: 20%;
  }

  .player-side>*:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .section-contents .album-item {
    flex-basis: calc(100% / 4 - 20px);
  }

  .play-cntr-bttns>li {
    margin: 0 15px;
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .section-contents .album-item {
    flex-basis: calc(100% / 6 - 20px);
  }

  .player-side .fa {
    font-size: 1.2em;
  }
}

@media (max-height: 180px) {
  .fix-band {
    display: none;
  }
}
/* / MEDIAQUERY */
