* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141922;
  color: #FFF;
  font-family: 'Signika';
  font-size: 15px;
}

body a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

body a:hover {
  color: #FFF;
}

ul {
  list-style: none;
}

/* Utility CSS */
.flx {
  display: flex;
}

.oflw-auto {
  overflow: auto;
}
/* / Utility CSS */

/* Utility SPACES (margin/padding) */
.pdd-20 {
  padding: 20px;
}

.mrg-chld-btm15>* {
  margin-bottom: 15px;
}
/* / Utility CSS */

/* Utility TEXT PROPRIETIES */
.txt-l {
  font-size: 1.2em;
}

.txt-s {
  font-size: 0.9em;
}

.txt-xs {
  font-size: 0.8em;
}

.txt-bld {
  font-weight: bold;
}

.txt-uppcs {
  text-transform: uppercase;
}

.txt-col-wht {
  color: #FFF;
}

.txt-col-gr {
  color: rgba(255, 255, 255, 0.6);
}

.subtitl-txt {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
}
/* Utility TEXT PROPRIETIES */



.wrapper {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  line-height: 1.8em;
}

/* MAIN TOP SIDE */
.top-container {
  height: calc(100% - 90px);
}
/* Sidebar */
#sidebar {
  flex-basis: 230px;
  background-color: #000;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#sidebar .logo {
  width: 80%;
}

#sidebar .playlist ul {
  max-height: 200px;
}

#sidebar>.bottom>*:not(:last-child) {
  margin-bottom: 15px;
}

#sidebar>.bottom>*:first-child {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
/* / Sidebar */

/* Contents */
#contents {
  flex-basis: calc(100% - 230px);
}

#contents>.top {
 background-color: rgba(0,0,0,.6);
 height: 90px;
 align-items: center;
 justify-content: flex-end;
}

#contents>.top>.upg-btn {
  border: 1px solid #FFF;
  border-radius: 30px;
  padding: 15px;
}

#contents>.top>.upg-btn:hover {
  transform: scale(1.1);
}

#contents .menu-row {
  justify-content: center;
}

#contents .menu-row>li {
  margin: 0 15px;
  border-bottom: 2px solid transparent;
}

#contents .menu-row>li:after {
  display: block;
  content: '';
  width: 40%;
  height: 2px;
  background-color: #ADFF2F;
  margin: auto;
  visibility: hidden;
}

#contents .menu-row>li:hover:after {
  visibility: visible;
}

#contents>.bottom {
  height: calc(100% - 90px);
}

#contents .recents-item {
  width: (100% / 6 - 20px);
  text-align: center;
  margin-right: 20px;
}

.play {
  position: relative;
}

.play>img {
  width: 100%;
}

.recents-item:hover .play-hov {
  visibility: visible;
}

.play-hov {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.play-hov img {
  max-height: 80px;
}
/* / Contents */
/* / MAIN TOP SIDE */


/* FIX BOTTOM SIDE */
.bottom-container {
  height: 90px;
  background-color: red;
}
/* / FIX BOTTOM SIDE */
